{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}



{% block title 'A propos du projet Orientation Authentique' %}



{% block contextual_menu %}
{% endblock %}


{% block content %}
{% endblock %}



{% block body %}
  <div class="uk-container uk-padding-small">
    <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>A propos d'Orientation Authentique</span></h1>
    <p class="uk-text-center">Quelques paragraphes bien rédigés présentant le projet</p>
  </div>
{% endblock %}


{% block javascripts %}
{% endblock %}
