{# templates/lucky/number.html.twig #}
{% extends 'Admin/HDS/index.html.twig'%}


{% block stylesheets %}
{% endblock %}

{% block js %}
  <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
{% endblock %}


{% block title 'Edition des informations sur un homme de science | Orientation Authentique' %}

{% block big_title 'Edition des informations sur un homme de science' %}



{% block content %}
  <h2>Edition des informations sur un homme de science</h2>
  {{ include('Admin/HDS/_hds-form.html.twig', {button: 'Editer'}) }}
{% endblock %}



{% block body %}
{% endblock %}


{% block javascripts %}
{% endblock %}
