{# templates/lucky/number.html.twig #}
{% extends 'Admin/Discipline/index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'une nouvelle discipline | Orientation Authentique' %}

{% block big_title 'Ajout d\'une nouvelle discipline' %}



{% block content %}
  <h2>Ajout d'une nouvelle discipline</h2>
  {{ include('Admin/Discipline/_discipline-form.html.twig') }}
{% endblock %}



{% block body %}
{% endblock %}


{% block javascripts %}
{% endblock %}
