{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}



{% block title 'Répères chez Orientation Authentique' %}



{% block contextual_menu %}
{% endblock %}


{% block content %}
{% endblock %}



{% block body %}
  <div class="uk-container uk-padding-small">
    <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>Différentes orientations</span></h1>
    <p class="uk-text-center">Comment trouver les mosquées, les hommes de science, les écoles, les cours...</p>
  </div>
{% endblock %}


{% block javascripts %}
{% endblock %}
