{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}



{% block title 'Contribuer au projet Orientation Authentique' %}



{% block contextual_menu %}
{% endblock %}


{% block content %}
{% endblock %}



{% block body %}
  <div class="uk-container uk-padding-small">
    <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>Contribuez vous aussi</span></h1>
    <p class="uk-text-center">Décrire comment se fera la contribution</p>
  </div>
{% endblock %}


{% block javascripts %}
{% endblock %}
