<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Activation compte{% endblock %}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s uk-card uk-card-default uk-card-body">
      <div class="uk-text-center">
        <p>As salaamu alaykoum wa rahmatoullahi wa barakaatouh yaa <strong>{{ user.username }}</strong>.</p>
        <p>Pour activer votre compte, veuillez cliquez sur le bouton suivant:</p><br>
        <a href="{{ url }}" class="uk-button uk-button-danger"></a>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script>
  </body>
</html>
