{# templates/lucky/number.html.twig #}
{% extends 'Admin/livre/index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Edition d\'un livre | Orientation Authentique' %}

{% block big_title 'Edition d\'un livre' %}



{% block content %}
  <h2>Edition d'un livre</h2>
  {{ include('Admin/livre/_livre-form.html.twig', {button: 'Editer'}) }}
{% endblock %}



{% block body %}
{% endblock %}


{% block javascripts %}
{% endblock %}
