{# templates/lucky/number.html.twig #}
{% extends 'Admin/Livre/index.html.twig'%}


{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}


{% block title 'Ajout d\'un nouveau livre | Orientation Authentique' %}

{% block big_title 'Ajout d\'un nouveau livre' %}



{% block content %}
  <h2>Ajout d'un nouveau livre</h2>
  {{ include('Admin/Livre/_livre-form.html.twig') }}
{% endblock %}



{% block body %}
{% endblock %}


{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
$(document).ready(function() {
  $('.js-example-basic-single').select2();
});
</script>
{% endblock %}
