{# templates/lucky/number.html.twig #}
{% extends 'Admin/Livre/index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'un nouveau livre | Orientation Authentique' %}

{% block big_title 'Ajout d\'un nouveau livre' %}



{% block content %}
  <h2>Ajout d'un nouveau livre</h2>
  {{ include('Admin/Livre/_livre-form.html.twig') }}
{% endblock %}



{% block body %}
{% endblock %}


{% block javascripts %}
{% endblock %}
