{# templates/lucky/number.html.twig #}
{% extends 'Admin/Localite/index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'une nouvelle commune | Orientation Authentique' %}

{% block big_title 'Ajout d\'une nouvelle commune' %}



{% block content %}
  <h2>Ajout d'une nouvelle commune</h2>
  {{ include('Admin/Localite/_commune-form.html.twig') }}
{% endblock %}



{% block body %}
{% endblock %}


{% block javascripts %}
{% endblock %}
